<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-luiscruzn/blob/main/Semana_2_Actividad_1_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Module 4 - Working with Data in Python**

**4.1. Reading Files with Open**

In [157]:
# Usaremos la función open de Python para leer un archivo, recibe dos parámetros, el 
# primero es el path y el segundo es el mode, que indica si será de lectura, escritura o agregar

File1 = open("/content/sample_data/ejemplo.txt", "r")

In [158]:
# Con el atributo name podemos ver el nombre
print(File1.name)

/content/sample_data/ejemplo.txt

In [159]:
# Con el parámetro mode podemos ver el valor de mode
print(File1.mode)

r

In [160]:
# Siempre debemos cerrar el archivo con el método close
File1.close()

In [161]:
# Este código lee el archivo ejemplo.txt; podemos usar el objeto de archivo File1. 
# El código realizará todas las operaciones en el bloque que tiene sangría y luego cerrará el archivo 
# al final de la sangría. El método read almacena los valores del archivo en la variable 
# file_stuff como una cadena.
with open("/content/sample_data/ejemplo.txt", "r") as File1:
    file_stuff = File1.read()
    print(file_stuff)

esta es la primera línea
esta es la segunda línea
esta es la tercera línea

In [162]:
# Verificamos si el archivo realmente se cerró
print(File1.closed)

True

In [163]:
# A pesar de que se cerró, la info esta almacenada en una variable
print(file_stuff)

esta es la primera línea
esta es la segunda línea
esta es la tercera línea

In [164]:
# Podemos generar cada línea como un elemento en una lista usando el método readlines. La primera línea corresponde al primer elemento de la lista. La segunda línea corresponde al segundo elemento de la lista, y así sucesivamente.
with open("/content/sample_data/ejemplo.txt", "r") as File1:
    file_stuff = File1.readlines()
    print(file_stuff)

['esta es la primera línea\n', 'esta es la segunda línea\n', 'esta es la tercera línea']

In [165]:
# Con el método readline solo leemos la primera línea del archivo
with open("/content/sample_data/ejemplo.txt", "r") as File1:
    file_stuff = File1.readline()
    print(file_stuff)

esta es la primera línea

In [166]:
# Con el método readline solo leemos la primera línea del archivo
with open("/content/sample_data/ejemplo.txt", "r") as File1:
    file_stuff = File1.readline()
    print(file_stuff)
    file_stuff = File1.readline()
    print(file_stuff)

esta es la primera línea

esta es la segunda línea

In [167]:
# Podemos iterar a través de el archivo mediante un for
with open("/content/sample_data/ejemplo.txt", "r") as File1:
    for line in File1:
        print(line)

esta es la primera línea

esta es la segunda línea

esta es la tercera línea

In [168]:
# Con el método read y con el parámetro numérico podemos obtener el número de caracteres indicado
with open("/content/sample_data/ejemplo.txt", "r") as File1:
    file_stuff = File1.read(16)
    print(file_stuff)
    file_stuff = File1.read(5)
    print(file_stuff)
    file_stuff = File1.read(9)
    print(file_stuff)

esta es la prime
ra lí
nea
esta

In [169]:
# Con esta instrucción podemos escribir un archivo, como primer argumento debemos enviar el path y 
# como segundo argumento enviamos el mode, en este casi w

File1 = open("/content/sample_data/ejemplo2.txt", "w")

In [170]:
# Con el método write escribimos texto dentro del archivo creado anteriormente
File1.write("Ejemplo de escritura\n")

21

In [171]:
#Escribimos otra línea en el arhivo File1
File1.write("Ejemplo de escritura 2\n")

23

In [172]:
# Cerramos para ver reflejados los cambios
File1.close()

In [173]:
# Verficamos que el archivo se haya guardado correctamente
with open("/content/sample_data/ejemplo2.txt", 'r') as testwritefile:
    print(testwritefile.read())

Ejemplo de escritura
Ejemplo de escritura 2

In [174]:
# Podemos guardar un conjunto de líneas iterandolas y agregandolas al archivo
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
with open('/content/sample_data/example3.txt', 'w') as File1:
    for line in Lines:
        print(line)
        File1.write(line)

This is line A

This is line B

This is line C

In [175]:
# Para agregar info a un archivo existente usamos el parámetro mode = "a" 
with open('/content/sample_data/example3.txt', 'a') as File1:
    File1.write("This is line D\n")

In [176]:
# Verificamos que efectivamente se agregó la información
with open("/content/sample_data/example3.txt", 'r') as File1:
    print(File1.read())

This is line A
This is line B
This is line C
This is line D

In [177]:
#Podemos copiar el contenido de un archivo a otro por medio de dos variables
with open('/content/sample_data/example3.txt', 'r') as readfile:
    with open('/content/sample_data/example4.txt', 'w') as writefile:
        for line in readfile:
            writefile.write(line)

with open("/content/sample_data/example4.txt", 'r') as File1:
    print(File1.read())

This is line A
This is line B
This is line C
This is line D

In [178]:
# Ejemeplificamos como agregar varias líneas a un archivo existente
with open('/content/sample_data/example4.txt', 'a') as testwritefile:
    testwritefile.write("This is line E\n")
    testwritefile.write("This is line F\n")
    testwritefile.write("This is line G\n")

In [179]:
# Importamos librería pandas y cargamos un archivo csv
import pandas as pd

df = pd.read_csv("/content/sample_data/TopSellingAlbums.csv")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [180]:
# Podemos asignar un alias a la librería pandas, el más común es pd pero no es mandatorio, podemos 
# usar cualquier nombre

import pandas as banana

df = banana.read_csv("/content/sample_data/TopSellingAlbums.csv")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [181]:
# Con la función read_excel podemos cargar un archivo de excel a un dataframe de Pandas

df = pd.read_excel("/content/sample_data/TopSellingAlbums.xlsx")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [182]:
# Ejemplo para accesar a la columna Length, usamos doble corchete

x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [183]:
# Accesamos a la columna Length, pero de este modo obtenemos un tipo Series

x = df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [184]:
# Accesamos a múltiples columnas del dataframe

y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [185]:
# Accesamos al valor de la primer columna y primer renglon mediante iloc

df.iloc[0, 0]

'Michael Jackson'

In [186]:
# Accesamos al valor de la primer columna y segundo renglon mediante iloc

df.iloc[1,0]

'AC/DC'

In [187]:
# Acceda al valor en la primera fila y la tercera columna

df.iloc[0,2]

1982

In [188]:
# Acceda al valor en la segunda fila y la tercera columna
df.iloc[1,2]

1980

In [189]:
# Segmentamos el dataframe por los primeros dos renglones y tres columnas

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [190]:
# Segmentamos el dataframe usando el nobre de la columna

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [191]:
# Obtenemos la columna Rating
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [192]:
# Obtenemos la columna Released y Artist del dataframe
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [193]:
# Obtenemos el segundo renglón y la primer columna del dataframe
df.iloc[1, 2]

1980

In [194]:
#Ejercicio

# Use the following list to convert the dataframe index df to characters and assign it to df_new; 
#find the element corresponding to the row index a and column 'Artist'. Then select the rows a through d for the column 'Artist'
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

Question 1
1 point possible (graded)
What do the following lines of code do?

In [195]:
with open("/content/sample_data/ejemplo.txt","r") as file1:
    FileContent=file1.readlines()
    print(FileContent)

['esta es la primera línea\n', 'esta es la segunda línea\n', 'esta es la tercera línea']

Question 2
1 point possible (graded)
What do the following lines of code do?

In [196]:
with open("/content/sample_data/Example2.txt","w") as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

Question 3
1 point possible (graded)
What do the following lines of code do?

In [197]:
with open("/content/sample_data/Example2.txt","a") as file1:
    file1.write("This is line C\n")

In [198]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [199]:
# Despliega los tres primeros rengloes del dataframe
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [200]:
# Obtenemos columna a
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

In [201]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

Find the unique values in column  'a' :

In [202]:
df['a'].unique()

array([1, 2])

Return a dataframe with only the rows where column  a  is less than two:

In [203]:
df[df['a']<2]

   a  b
0  1  1
2  1  1

In [204]:
import pandas as pd

In [205]:
#Define a dictionary 'x'

x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

#display the result df
df

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

In [206]:
#Retrieving the "ID" column and assigning it to a variable x
x = df[['ID']]
x

   ID
0   1
1   2
2   3
3   4

In [207]:
#check the type of x
type(x)

pandas.core.frame.DataFrame

In [208]:
#Retrieving the Department, Salary and ID columns and assigning it to a variable z

z = df[['Department','Salary','ID']]
z

        Department  Salary  ID
0  Architect Group  100000   1
1   Software Group   80000   2
2      Design Team   50000   3
3   Infrastructure   60000   4

Problem 1: Create a dataframe to display the result as below:

In [209]:
#write your code here
a = {'Student':['David', 'Samuel', 'Terry', 'Evan'],
     'Age':['27', '24', '22', '32'],
     'Country':['UK', 'Canada', 'China', 'USA'],
     'Course':['Python','Data Structures','Machine Learning','Web Development'],
     'Marks':['85','72','89','76']}
df1 = pd.DataFrame(a)
df1

  Student Age Country            Course Marks
0   David  27      UK            Python    85
1  Samuel  24  Canada   Data Structures    72
2   Terry  22   China  Machine Learning    89
3    Evan  32     USA   Web Development    76

Problem 2: Retrieve the Marks column and assign it to a variable b

In [210]:
#write your code here
b = df1[['Marks']]
b

  Marks
0    85
1    72
2    89
3    76

Problem 3: Retrieve the Country and Course columns and assign it to a variable c

In [211]:
#write your code here
c = df1[['Country','Course']]
c

  Country            Course
0      UK            Python
1  Canada   Data Structures
2   China  Machine Learning
3     USA   Web Development

In [212]:
# Get the Name column as a series Object

x = df['Name']
x

0    Rose
1    John
2    Jane
3    Mary
Name: Name, dtype: object

In [213]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Rose'

In [214]:
# Access the value on the first row and the third column

df.iloc[0,2]

'Architect Group'

In [215]:
# Access the column using the name

df.loc[0, 'Salary']

100000

In [216]:
df2=df
df2=df2.set_index("Name")

In [217]:
#To display the first 5 rows of new dataframe
df2.head()

      ID       Department  Salary
Name
Rose   1  Architect Group  100000
John   2   Software Group   80000
Jane   3      Design Team   50000
Mary   4   Infrastructure   60000

In [218]:
#Now, let us access the column using the name
df2.loc['Jane', 'Salary']

50000

In [219]:
df2.loc['Jane', 'Department']

'Design Team'

In [220]:
df2.loc['Jane', 'Department']

'Design Team'

In [221]:
df2.iloc[3,2]

60000

In [222]:
# let us do the slicing using old dataframe df

df.iloc[0:2, 0:3]

   Name  ID       Department
0  Rose   1  Architect Group
1  John   2   Software Group

In [223]:
# let us do the slicing using old dataframe df

df.iloc[0:2, 0:3]

   Name  ID       Department
0  Rose   1  Architect Group
1  John   2   Software Group

In [224]:
#let us do the slicing using loc() function on new dataframe df1 where index column is Name having labels: Rose, John and Jane
df2.loc['Rose':'Jane', 'ID':'Department']

      ID       Department
Name
Rose   1  Architect Group
John   2   Software Group
Jane   3      Design Team

In [225]:
#let us do the slicing using loc() function on new dataframe df1 where index column is Name having labels: Rose, John and Jane
df2.loc['Rose':'Jane', 'ID':'Department']

      ID       Department
Name
Rose   1  Architect Group
John   2   Software Group
Jane   3      Design Team

Evidencia de labratorios realizados
![evidencia1.png]()

![evidencia2.png]()