<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-luiscruzn/blob/main/Semana_2_Actividad_1_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Module 4 - Working with Data in Python**

**4.1. Reading Files with Open**

In [42]:
# We will use Python’s open function to get a file object.
# This is made up of the file name and the file directory. The second parameter is the mode; common values used include 'r' for reading, 'w' for writing and 'a' for appending.
# We will use ‘r’ for reading. Finally, we have the file object.

File1 = open("/content/sample_data/ejemplo.txt", "r")

In [43]:
#We can use the data attribute name to get the name of the file. The result is a string that contains the name of the file.
print(File1.name)

/content/sample_data/ejemplo.txt

In [44]:
# We can see what mode the object is in using the data attribute mode.
print(File1.mode)

r

In [45]:
# We should always close the file object using the method close.
File1.close()

In [46]:
# This code reads the file Example1.txt; we can use the file object File 1. The code will perform all operations in the indent block then close the file at the end
# of the indent. The method read stores the values of the file in the variable file_stuff as a string.
with open("/content/sample_data/ejemplo.txt", "r") as File1:
    file_stuff = File1.read()
    print(file_stuff)

esta es la primera línea
esta es la segunda línea
esta es la tercera línea

In [47]:
print(File1.closed)

True

In [48]:
print(file_stuff)

esta es la primera línea
esta es la segunda línea
esta es la tercera línea

In [49]:
# We can output every line as an element in a list using the method readlines. The first line corresponds to the first element in the list. The second line corresponds to the second element in the list, and so on.
with open("/content/sample_data/ejemplo.txt", "r") as File1:
    file_stuff = File1.readlines()
    print(file_stuff)

['esta es la primera línea\n', 'esta es la segunda línea\n', 'esta es la tercera línea']

In [50]:
# Con el método readline solo leemos la primera línea del archivo
with open("/content/sample_data/ejemplo.txt", "r") as File1:
    file_stuff = File1.readline()
    print(file_stuff)

esta es la primera línea

In [51]:
# Con el método readline solo leemos la primera línea del archivo
with open("/content/sample_data/ejemplo.txt", "r") as File1:
    file_stuff = File1.readline()
    print(file_stuff)
    file_stuff = File1.readline()
    print(file_stuff)

esta es la primera línea

esta es la segunda línea

In [54]:
with open("/content/sample_data/ejemplo.txt", "r") as File1:
    for line in File1:
        print(line)

esta es la primera línea

esta es la segunda línea

esta es la tercera línea

In [70]:
with open("/content/sample_data/ejemplo.txt", "r") as File1:
    file_stuff = File1.read(16)
    print(file_stuff)
    file_stuff = File1.read(5)
    print(file_stuff)
    file_stuff = File1.read(9)
    print(file_stuff)

esta es la prime
ra lí
nea
esta

In [71]:
# Con esta instrucción podemos escribir un archivo, como primer argumento debemos enviar el path y 
# como segundo argumento enviamos el mode, en este casi w

File1 = open("/content/sample_data/ejemplo2.txt", "w")

In [72]:
# Con el método write escribimos texto dentro del archivo creado anteriormente
File1.write("Ejemplo de escritura\n")

21

In [73]:
File1.write("Ejemplo de escritura 2\n")

23

In [74]:
File1.close()

In [89]:
with open("/content/sample_data/ejemplo2.txt", 'r') as testwritefile:
    print(testwritefile.read())

Ejemplo de escritura
Ejemplo de escritura 2

In [90]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
with open('/content/sample_data/example3.txt', 'w') as File1:
    for line in Lines:
        print(line)
        File1.write(line)

This is line A

This is line B

This is line C

In [91]:
with open('/content/sample_data/example3.txt', 'a') as File1:
    File1.write("This is line D\n")

In [94]:
with open("/content/sample_data/example3.txt", 'r') as File1:
    print(File1.read())

This is line A
This is line B
This is line C
This is line D

In [95]:
#Podemos copiar el contenido de un archivo a otro
with open('/content/sample_data/example3.txt', 'r') as readfile:
    with open('/content/sample_data/example4.txt', 'w') as writefile:
        for line in readfile:
            writefile.write(line)

with open("/content/sample_data/example4.txt", 'r') as File1:
    print(File1.read())

This is line A
This is line B
This is line C
This is line D

In [96]:
with open('/content/sample_data/example4.txt', 'a') as testwritefile:
    testwritefile.write("This is line E\n")
    testwritefile.write("This is line F\n")
    testwritefile.write("This is line G\n")

In [106]:
import pandas as pd

df = pd.read_csv("/content/sample_data/TopSellingAlbums.csv")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [129]:
import pandas as banana

df = banana.read_csv("/content/sample_data/TopSellingAlbums.csv")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [108]:
df = pd.read_excel("/content/sample_data/TopSellingAlbums.xlsx")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [111]:
# Access to the column Length

x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [112]:
# Get the column as a series

x = df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [113]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [114]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

In [115]:
# Access the value on the second row and the first column

df.iloc[1,0]

'AC/DC'

In [116]:
# Access the value on the first row and the third column

df.iloc[0,2]

1982

In [117]:
# Access the value on the second row and the third column
df.iloc[1,2]

1980

In [118]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [119]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [120]:
# Write your code below and press Shift+Enter to execute
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [121]:
# Write your code below and press Shift+Enter to execute
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [122]:
# Write your code below and press Shift+Enter to execute
df.iloc[1, 2]

1980

In [124]:
# Use the following list to convert the dataframe index df to characters and assign it to df_new; 
#find the element corresponding to the row index a and column 'Artist'. Then select the rows a through d for the column 'Artist'
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

Question 1
1 point possible (graded)
What do the following lines of code do?

In [126]:
with open("/content/sample_data/ejemplo.txt","r") as file1:
    FileContent=file1.readlines()
    print(FileContent)

['esta es la primera línea\n', 'esta es la segunda línea\n', 'esta es la tercera línea']

Question 2
1 point possible (graded)
What do the following lines of code do?

In [127]:
with open("/content/sample_data/Example2.txt","w") as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

Question 3
1 point possible (graded)
What do the following lines of code do?

In [128]:
with open("/content/sample_data/Example2.txt","a") as file1:
    file1.write("This is line C\n")

In [133]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [134]:
# Display the first three rows:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [135]:
# Obtain column  'a' :
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

In [130]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

Find the unique values in column  'a' :

In [131]:
df['a'].unique()

array([1, 2])

Return a dataframe with only the rows where column  a  is less than two:

In [132]:
df[df['a']<2]

   a  b
0  1  1
2  1  1

In [136]:
import pandas as pd

In [137]:
#Define a dictionary 'x'

x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

#display the result df
df

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

In [138]:
#Retrieving the "ID" column and assigning it to a variable x
x = df[['ID']]
x

   ID
0   1
1   2
2   3
3   4

In [139]:
#check the type of x
type(x)

pandas.core.frame.DataFrame

In [140]:
#Retrieving the Department, Salary and ID columns and assigning it to a variable z

z = df[['Department','Salary','ID']]
z

        Department  Salary  ID
0  Architect Group  100000   1
1   Software Group   80000   2
2      Design Team   50000   3
3   Infrastructure   60000   4

Problem 1: Create a dataframe to display the result as below:

In [141]:
#write your code here
a = {'Student':['David', 'Samuel', 'Terry', 'Evan'],
     'Age':['27', '24', '22', '32'],
     'Country':['UK', 'Canada', 'China', 'USA'],
     'Course':['Python','Data Structures','Machine Learning','Web Development'],
     'Marks':['85','72','89','76']}
df1 = pd.DataFrame(a)
df1

  Student Age Country            Course Marks
0   David  27      UK            Python    85
1  Samuel  24  Canada   Data Structures    72
2   Terry  22   China  Machine Learning    89
3    Evan  32     USA   Web Development    76

Problem 2: Retrieve the Marks column and assign it to a variable b

In [142]:
#write your code here
b = df1[['Marks']]
b

  Marks
0    85
1    72
2    89
3    76

Problem 3: Retrieve the Country and Course columns and assign it to a variable c

In [143]:
#write your code here
c = df1[['Country','Course']]
c

  Country            Course
0      UK            Python
1  Canada   Data Structures
2   China  Machine Learning
3     USA   Web Development

In [144]:
# Get the Name column as a series Object

x = df['Name']
x

0    Rose
1    John
2    Jane
3    Mary
Name: Name, dtype: object

In [145]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Rose'

In [146]:
# Access the value on the first row and the third column

df.iloc[0,2]

'Architect Group'

In [147]:
# Access the column using the name

df.loc[0, 'Salary']

100000

In [148]:
df2=df
df2=df2.set_index("Name")

In [149]:
#To display the first 5 rows of new dataframe
df2.head()

      ID       Department  Salary
Name
Rose   1  Architect Group  100000
John   2   Software Group   80000
Jane   3      Design Team   50000
Mary   4   Infrastructure   60000

In [150]:
#Now, let us access the column using the name
df2.loc['Jane', 'Salary']

50000

In [151]:
df2.loc['Jane', 'Department']

'Design Team'

In [ ]:
df2.loc['Jane', 'Department']

In [152]:
df2.iloc[3,2]

60000

In [153]:
# let us do the slicing using old dataframe df

df.iloc[0:2, 0:3]

   Name  ID       Department
0  Rose   1  Architect Group
1  John   2   Software Group

In [154]:
# let us do the slicing using old dataframe df

df.iloc[0:2, 0:3]

   Name  ID       Department
0  Rose   1  Architect Group
1  John   2   Software Group

In [155]:
#let us do the slicing using loc() function on new dataframe df1 where index column is Name having labels: Rose, John and Jane
df2.loc['Rose':'Jane', 'ID':'Department']

      ID       Department
Name
Rose   1  Architect Group
John   2   Software Group
Jane   3      Design Team

In [156]:
#let us do the slicing using loc() function on new dataframe df1 where index column is Name having labels: Rose, John and Jane
df2.loc['Rose':'Jane', 'ID':'Department']

      ID       Department
Name
Rose   1  Architect Group
John   2   Software Group
Jane   3      Design Team